<article class="main-card-container">
    <a href="#">
        <div class="main-card-photo">
            <img src="https://picsum.photos/500/354" alt="">
        </div>
        <div class="main-card-title">
            <h2>Algum titulo aqui</h2>
        </div>
        <div class="main-card-description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus repudiandae, error deserunt inventore a
                itaque aliquid libero rerum, pariatur velit minima alias nesciunt ullam. Officiis?</p>
        </div>
    </a>
</article>